html, body {
  scroll-behavior: smooth;
  background: #EDF2F4;
  /* background: #37413E;; */
  /* background: #BC291F; */
  /* color: white; */
}

button {
  outline: none;
}
/* BASIC */

::placeholder {
    letter-spacing: 3.2px;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], .register-button, input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

input[type=button]:hover, .register-button:hover, input[type=reset]:hover  {
  background-color: #39ace7;
  outline: none;
}


input[type=button]:active, .register-button, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 



/* HOME PAGE */

.login-register-container {
    background: transparent;
}

.login-register-container > a {
    margin: 1%;
    color: black;
    border: 1px solid white;
    padding: 5px 10px;
    background: white;
    letter-spacing: 0.3px;
}

.background {
    width: 100%;
    height: 100vh;
    /* background-image: url(./background1.jpg); */
    /* background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(./background.jpg); */
    /* background: #24263E; */
    /* background: black; */
    background: #161616;
    background-size: cover;
}

.background {
    color: white;
}

.background button {
    /* background-color: white; */
    background-color: transparent;
    border: 2px solid white;
    /* color: black; */
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.background button:hover {
    /* color: white; */
    color: black;
    background: white;
    transition: 0.3s ease;
}

#workout-redeem-img {
    width: 300px;
}

.landing-one {
  /* color: #FFFFFF; */
}

.landing-one > h1 {
    flex-basis: 100%;
}

.landing-one > div {
    padding: 1%;
}

.how-it-works-container {
    padding: 2%;
    /* background-color: #37413E; */
    /* background: black; */
    background: #161616;
    color: white;
}

.how-it-works-container > div {
    display: flex;
}

@media screen and (max-width: 1000px) {
    .how-it-works-container > div {
        flex-direction: column;
    }

    .landing-one {
        flex-direction: column;
    }
}

.how-it-works {
    flex-basis: 100%;
}

.how-it-works > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    text-align: center;
    padding: 3%;
    margin: 2%;
}

.how-it-works-num > i {
    border: 2px solid white;
    padding: 25px 30px;
    font-size: 3rem;
    color: white;
}

.item:hover {
    transform: translateX(100px);
    transition: 3s;
}

.item {
    transform: translateX(0);
    transition: 2s;
}

.locations-button {
    padding: 10px 15px;
    background: #37413E;
    border: 1px solid #FFFFFF;
    /* background: transparent; */
    border-radius: 50px;
    color: white;
    transition: 0.3s ease;
}

.locations-button:hover {
    background: transparent;
    border: 1px solid black;
    /* color: black; */
    color: white;
    background: #161616;
    transition: 0.3s ease;
}

/* ABOUT PAGE */

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-info-item {
    text-align: center;
}

.about-info-item > i {
    font-size: 4rem;
    color: green;
}

.about-info-item > h5 {
    font-weight: 700;
}

.divider {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.team-info {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.team-info-item {
    text-align: center;
    /* border: 1px solid red; */
    flex-basis: 100%;
}

.team-info-item > img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-bottom: 3%;
}

@media screen and (max-width: 1000px) {
    .team-info {
        flex-direction: column;
    }

    .team-info-item {
        margin: 5%;
    }
}

/* ADMIN */
.chart {
  width: 50%;
}

@media screen and (max-width: 1000px) {
    .admin-stats-container {
      flex-direction: column;
    }

    .admin-stats-container > div {
      margin: 10px;
    }

    .chart {
      width: 90%;
    }
}

